.repository_xpert_flickr_public .colourradiobutton,
.repository_xpert_flickr_public .fp-login-radio {
    padding: 5px;
}

.repository_xpert_flickr_public .colour {
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    padding: 2px;
    text-align: left;
    width: 260px;
    margin-left: 0.5ex;
}

.repository_xpert_flickr_public .colourwhiteblack {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.repository_xpert_flickr_public .colourblackwhite {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}

.repository_xpert_flickr_public .colourgreyblack {
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
}

.repository_xpert_flickr_public .colourbluebrown {
    background-color: #c5effd;
    border: 1px solid #000;
    color: #231f20;
}

.repository_xpert_flickr_public .colourpeachbrown {
    background-color: #ecc5a8;
    border: 1px solid #000;
    color: #372f18;
}

.repository_xpert_flickr_public .colouryellowblack {
    background-color: #fefcd7;
    border: 1px solid #000;
    color: #000;
}

.repository_xpert_flickr_public .colourpinkblack {
    background-color: #ffe9e8;
    border: 1px solid #000;
    color: #000;
}

.repository_xpert_flickr_public .fp-login-radio {
    border-collapse: collapse;
    font-size: 5px;
    line-height: 5px;
    padding: 1px;
    text-align: left;
    width: 350px;
}

.repository_xpert_flickr_public .fp-login-radio input {
    display: inline-block;
    width: auto;
    height: auto;
}
